// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#main
  #contents
  .my-timeline
    width: 100%
    margin: 30px auto
    height: 550px
    .my-timeline-header
      width: 810px
      height: 45px
      background-color: #ffe4e1
      border: 1px solid #8b0000
      ul
        li
          margin: 5px
        .red-btn
          margin-right: 10px
    .my-timeline-items
      width: 810px
      height: 400px
      background-color: #fff
      border: 1px solid #8b0000
      overflow: scroll
      .my-timeline-item
        height: 130px
        border-bottom: 1px solid #a9a9a9
        padding: 10px
        .media
          width: 100%
          .media-left
            width: 130px
            height: 100%
          .media-body
            .media-category
              color: #a9a9a9
              margin-bottom: 10px
          .media-right
            .media-next, .media-nums, .red-btn
              





