// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#main
  #contents
    #my-timeline, #timeline
      width: 100%
      margin: 30px auto
      height: 550px
      .my-timeline-header, .timeline-header
        width: 100%
        height: 45px
        background-color: #ffe4e1
        border: 1px solid #8b0000
        border-bottom: none
        ul
          .float-left
            height: 46px
            li
              height: 46px
              box-sizing: border-box
              list-style: none
              padding: 0px 10px
              &.active
                font-weight: 600
                border-bottom: 3px solid #8B0000
              &:hover
                border-bottom: 3px solid #8b0000
          .float-right
            height: 46px
          .red-btn
            display: inline-block
            margin: 7px
            .media-new-zange
              margin: 5px
      .my-timeline-items, .timeline-items
        width: 100%
        height: 600px
        background-color: #fff
        border: 1px solid #8b0000
        overflow: scroll
        .my-timeline-item, .timeline-item
          height: 210px
          border-bottom: 1px solid #a9a9a9
          padding: 10px
          margin: 10px
          .media
            width: 100%
            .media-name
              width: 130px
              height: 25px
              vertical-align: top
            .media-body
              float: none
              .media-category
                color: #a9a9a9
                margin-bottom: 10px
                img
                  width: 15px
            .media-bottom
              .media-nums
                display: inline-block
                margin: 10px 0px
              .red-btn
                margin: 10px 0px
                .media-done, .media-cheer
                  margin: 5px 10px

    #new-zange
      width: 100%
      margin: 30px auto
      height: auto
      border: 1px solid #8b0000
      background-color: #ffe4e1
      .forms
        margin: 20px
        .field
          margin-bottom: 50px
          .form-control
            width: 100%
          .zange-form-content
            height: 300px

    #zange-detail
      .detail-header
        width: 100%
        height: 45px
        background-color: #ffe4e1
        border: 1px solid #8b0000
        ul
          li
            margin: 5px
      .detail-item
        width: 100%
        height: auto
        background-color: #fff
        border: 1px solid #8b0000
        .media
          margin: 30px
        .media-category, .media-date
          color: #a9a9a9
          img
            width: 15px
        .media-content
          max-height: 300px
          overflow: scroll
          margin-bottom: 20px
          border-bottom: 1px solid #a9a9a9
          line-height: 2
        .media-btn
          padding-bottom: 30px
          .red-btn
            display: inline-block
            margin: 10px 0px
            .media-done, .media-cheer
              margin: 5px 10px
      .media-back
        width: 100%
        height: 30px
        border: 1px solid #8b0000
        background-color: #fff
        vertical-align: middle
        text-align: center
        &:hover
          background-color: #ffe4e1

    #comments
      margin-top: 20px
      border: 1px solid #8b0000
      background-color: #fff
      .comments-header
        padding: 10px
      .comments-wrapper
        background-color: #fff
        .comment
          margin: 10px
          .comment-user
            color: #a9a9a9
      .comment-form
        background-color: #ffe4e1
        .field
          padding: 10px
          .form-control
            width: 90%
        .comment-submit
          cursor: pointer



