#header
  width: 100%
  height: 45px
  border-bottom: 1px solid #ccc
  background-color: #000
  a
    color: #fff
    font-size: 20px
  ul li
    display: table
    height: 45px
    a
      display: table-cell
      vertical-align: middle
      padding: 0px 12px
    .signup
      display: table-cell
      vertical-align: middle
    ul li
      float: left